<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="learningXAML.Properties.Settings.sample2ConnectionString"
            connectionString="data source=C:\Users\Omar\Documents\Projects\learningXAML\sample2"
            providerName="System.Data.SQLite.EF6" />
        <add name="learningXAML.Properties.Settings.sampleConnectionString"
            connectionString="data source=C:\Users\Omar\Documents\Projects\learningXAML\sample.db"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
